.App
{
  /* background-image: url(./images/bg1.jpg); */
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
}

.app_form
{
  flex: 0.3;
  margin: 25px;
}

.weather
{
  margin-top: 20px;
  flex: 0.7;
}